body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    gap: 15px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    
}

h1 {
    margin: 0;
    text-align: center;
    color: white;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}

.services {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.services__title, .depoimentos {
    grid-column: 1 / -1; 
    text-align: center;
}

@media (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr; 
    }

    h1 {
        grid-column: 2;
    }

    nav {
        grid-column: 3;
        justify-self: end;
    }

    .services {
        grid-template-columns: repeat(5, auto); 
    }
}